body{
    background-color: rgb(207, 239, 245,0.5);
}
.move-heading {
    overflow: hidden;
}
h1{
    position:relative;
    right:20px;
    padding: 20px;
    z-index: 100;
}
.parent {
    width: 70%;
    display: grid;
    gap: 20px;
    justify-content: space-evenly;
    grid-template-columns: 1fr 1fr;
    margin: auto;
}
.box {
    display: flex;
    flex-wrap: wrap;
}
.image {
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
}
img{
    max-width: 100%;
    margin-bottom: 400px;
    border-radius: 20px;
    border: solid rgb(235, 147, 223,0.6) 2px;
}
.buttons button {
    color: #000;
    display: block;
    padding: 20px 0;
    width: 300px;
    text-align: center;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(243, 188, 236, 0.6);
    font-size: 18px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:500;
    cursor: pointer; 
}
a {
    color: #000;
    text-decoration: none;
}
button:hover {
    background-color: rgba(210, 188, 236, 0.6);
}
.info {
    background-color:  rgba(243, 188, 236, 0.6);
    width: 550px;
    height: 530px;
    font-size: 20px;
    padding-top: 20px;
    border-radius: 5px;
}
#information {
    padding-right: 20px;
}
#main-information {
    text-align: center;
}

@media (max-width:767px) {
    .box {
        width: 300px;
    }
}
@media (min-width:768px) and (max-width:991px) {
    .box {
        width: 580px;
    }
    .info {
        width: 550px !important;
    } 
}
@media (max-width:991px) {
    .parent {
        margin: auto;
        grid-template-columns: 1fr;
    }
    .box {
        margin: auto;
        justify-content: space-between;
    }
    .info {
        height: 300px;
        width: 300px;
        margin-bottom: 20px;
        margin: auto;
    }
}
